name: Terraform Workflow
on:
  push:
    branches:
      - master

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
     - name: Terraform Init
       id: init
       run: terraform init


